.game-line {
  display: flex;
  flex-direction: row;
  height: 6rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2px;
  border: 1px solid black;
}

.game-line img {
  height: 100%;
}

.best-games-lines {
  height: 3rem;
  background-color: red;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
